#python basic

Q.1 What is python and why it is popular?
 - Python is a versatile, high-level programming language known for its simplicity and readability. It is popular due to its easy syntax, extensive libraries, cross-platform compatibility, and active community.

Q.2 what is an interpreter in python?
  
  - An interpreter in Python executes code line by line, converting it to machine-readable instructions without prior compilation. It facilitates debugging and interactive coding.

Q.3 What are predefined keywords in Python?
  - Predefined keywords are reserved words in Python with specific meanings, like if, else, for, True, and None. They cannot be used as variable names.
  
Q.4 Can keywords be used as variable names?
  - No, keywords in Python cannot be used as variable names. Keywords are reserved words that have special meaning in the language (e.g., if, for, class).

Q.5 What is mutability in Python?
   - Mutability refers to an object's ability to be modified after it is created. Mutable objects can be changed (e.g., lists, dictionaries), while immutable objects cannot (e.g., tuples, strings).

Q.6 Why are lists mutable, but tuples are immutable?

   - Lists are designed to allow modifications like adding, removing, or changing elements, making them suitable for dynamic data.
   - Tuples, on the other hand, are meant to represent fixed collections of items, ensuring stability and hashability for use in keys or sets.

Q.7 What is the difference between == and is operators in Python?


 -  (==) Compares the values of two objects to check if they are equal.
        
 - (is) Checks if two objects refer to the same memory location (identity).


Q.8 What are logical operators in Python?
   
  -  Logical operators are used to combine conditional statements:

   (i)  and: Returns True if both conditions are true.

   (ii)  or: Returns True if at least one condition is true.

  (iii) not: Reverses the logical state of its operand.

Q.9 What is type casting in Python?

  - Type casting is converting one data type to another. For example, converting a string "6" to an integer 6 using int().

Q.10 What is the difference between implicit and explicit type casting?

  - Implicit casting: Automatically performed by Python when it converts data types during operations (e.g., int to float in arithmetic).

  - Explicit casting: Manually performed by the programmer using functions like int(), float(), or str().


Q.11 What is the purpose of conditional statements in Python?

  - Conditional statements allow a program to make decisions based on
  certain conditions, enabling it to execute different blocks of code based on the evaluation of expressions.

Q.12 How does the elif statement work?

  - The elif statement stands for "else if" and is used to check multiple
   conditions sequentially. If the condition in the if statement is false, Python evaluates the elif conditions in order until one is true or the else block (if present) is executed.

Q.13 What is the difference between for and while loops?

  - for: Iterates over a sequence (like a list or range) and is typically used when the number of iterations is known.
  - while: Repeats a block of code as long as a specified condition is
   true, often used when the number of iterations depends on runtime conditions.

Q.14 Describe a scenario where a while loop is more suitable than a for loop.

  - A while loop is more suitable when the number of iterations is not    predetermined, such as waiting for user input or processing data until a certain condition is met (e.g., reading lines from a file until the end).

In [109]:
# Q.1 write a python programme to print "Hello World".
print("Hello World")

Hello World

In [ ]:
#Q.2 write a pyhon programme that display your name and age?
name = "Divya Saini"
Age = 27
print( name, Age)

Divya Saini 27

In [2]:
# Q.3 write code to print all the pre-defined keywords in python using the keyword library?
b=help('keywords')
print(b)

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

In [91]:
# Q.4 write a program that check if a given words is a python keyword.
import keyword
keyword.iskeyword('or')
print(keyword.iskeyword('ria'))
print(keyword.iskeyword('if'))

False
True

In [8]:
# Q.5 create a list and tuple in the python, and demonsrtrate how attemptong to change an elemnets work differently for each.
lis = [ 1,2,3.4, 4+3j, "shanaya", "ria"]  # In the list we can put any type of data # list is mutable
tuple = ( 1,2,3,5+6j,"shalu", True)        # In tuple we can also put any type of data but tuple is an immutable

In [13]:
list[5] = "divya" # here we change the name from ria to divya # this show that we can change elements in the list thus it is mutable.

In [14]:
print(list)

[1, 2, 3.4, (4+3j), 'shanaya', 'divya']

In [17]:
tuple[4] = "Divya" # this error show that we can not change the element of tuple.

TypeError: 'tuple' object does not support item assignment

In [19]:
# Q.6 write a function to demonstrate the behaviour of mutable and immutable arguments.
# mutability means that the value can be change after they are created.
a = ["mango", 'apple', 'banana']
type(a)

list

In [23]:
a[2] = "papaya"  # this show that "a" is mutable object.
print(a)

['mamgo', 'apple', 'papaya']

In [24]:
b = ("mango", 'apple', 'banana')
type(b)

tuple

In [26]:
b[2] = "papaya" #this show that b is an immutable object.

TypeError: 'tuple' object does not support item assignment

In [30]:
# Q.7 write a programe to demonstrate the use of logical operator.
# there are 3 types of logical operators:- and , or , not.
True and True

True

In [45]:
True and False

False

In [33]:
False and True

False

In [34]:
False and False

False

In [35]:
True or True

True

In [36]:
True or False

True

In [38]:
False or True

True

In [39]:
False or False

False

In [41]:
not True

False

In [42]:
not False

True

In [46]:
# Q.8 write a programe to convert user input from string to integers , float and boolean types.
a = "4"

In [47]:
type(a)

str

In [48]:
int(a) # string converted to integer.

4

In [49]:
float(a) # string converted to float.

4.0

In [51]:
bool(a) # string converted to boolean value. # note any no. except 0 is true, either that no. is negative or positive.

True

In [108]:
# Q.9 write code to demonstrate type casting with list elements.
a = [ 24, 45,60.7, 23.5,"divya" ,True, False]
# type casting is changing one type of data into the other type
## sir i am not able to solve this question ##

In [66]:
# Q.10 write a programe that check if a number is positive negative or zero.
a = 12
if a >0:
  print ("a is positive")
elif a<0:
  print("a is negative")
else :
  print("a is zero")

a is positive

In [67]:
a = -10
if a >0:
  print ("a is positive")
elif a<0:
  print("a is negative")
else :
  print("a is zero")

a is negative

In [68]:
a = 0
if a >0:
  print ("a is positive")
elif a<0:
  print("a is negative")
else :
  print("a is zero")

a is zero

In [74]:
# Q. 11 Write a for loop to print number from 1 to 10
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [81]:
for i in range (1,11):
  print(i, end = " ")

1 2 3 4 5 6 7 8 9 10

In [77]:
#Q.12 write a pyhton programe to find the sum of all even numbers from 1 to 50.
sum = 0
for i in range(1,51):
  if i%2==0:
    sum = sum+i
print(sum)

650

In [102]:
#Q.13 write a programe to reverse a string using a while loop.

string1 = input("Divya")
reverse=""
i = len(string1)-1
while i>=0:
  reverse = reverse+string1[i]
  i = i-1
print(reverse)

Divya Saini
iniaS

In [105]:
#Q.14 write a python programe to calculate the factorial of a number provided by the user using a while loop
n = int(input("enter any number"))
fact = 1
i = 1
while i<=n:
  fact = fact*i
  i = i+1
print(fact)

enter any number6
720